@charset 'utf-8';
@import 'util.scss';
@import url("https://use.typekit.net/nwe8gse.css");
.App{
    text-align: center;
    position: relative;
    
}
.Credit{
    font-family: 'vox';
    font-size: 15px;
    color: rgba(17, 17, 17, 0.87);
    
}
.Title{
    font-family: 'vox';
    font-size: 40px;
    color: 	#4e4e4e;
    .text{
        color: #2484c6;
        font-style: normal;
        font-weight: 700;
        font-size: 70px;
    }
}
body {
    background: #e6e7e8;
    background-image: url("./whiteSqr.png");
    background-size: auto, cover;
}
.Image{
    .imageFullContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .imageContainer{
        position: relative;
            .ImageText{
                color: #e6e7e8;
                position: absolute;
                margin-top: 0px;
                margin-bottom: 0px;
                top: 0px;
                left: 0px;
                height: 50px;
                padding-top: 75px;
                padding-bottom: 75px;
                width: 200px;
                opacity: 0;
                background: #111111;
                @include transition(all, 0.1s, ease-out);
                &:hover{
                    opacity: 0.8;
                }
                font-family: 'industry';
            }
            .image {
                overflow: hidden;
                width: 200px;
                height: 200px;
                object-fit: cover;
            }
        }
        .Viewer{
            width: 100%;
            overflow-x: scroll;
            position: fixed;
            z-index: 3;
            top:50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 50% 50% 50% 50%;
            background-color: rgba(0, 0, 0,0.9);
        }

    }
    .image1, .image3, .image8, .image11,{
        object-position: left;
    }
    .image2,.image6, .image12, .image13{
        object-position: right;
    }
    h4{
        font-family: 'vox';
        font-weight: 700;
        font-size: 40px;
        @include linearGradient(#3ec2cf, #0072bc); 
    }
}
.Video{
    h4{
        font-family: 'vox';
        font-weight: 700;
        font-size: 40px;
        @include linearGradient(rgb(247, 148, 29), rgb(198, 22, 141));
    }
    .videoFullContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .videoContainer{
        position: relative;
        overflow: hidden;
        width: 85%;
        height: 200px;
        object-fit: cover;
        object-position: left;
            .VideoText{
                color: #e6e7e8;
                position: absolute;
                margin-top: 0px;
                margin-bottom: 0px;
                top: 0px;
                left: 0px;
                height: 50px;
                padding-top: 75px;
                padding-bottom: 75px;
                width: 100%;
                opacity: 0;
                background: #111111;
                @include transition(all, 0.1s, ease-out);
                &:hover{
                    opacity: 0.8;
                }
                font-family: 'industry';
            }
            .VideoViewer{
                position: fixed;
                z-index: 3;
                bottom:0%;
                left: 0%;
                padding: 5% 10% 5% 10%;
                border:0px;
                width: 80%;
                height: 80%;
                background-color: rgba(0, 0, 0,0.9);
            }
        }

    }
}
//6 1109
.Navi{
    .navigator{
        display: flex;
        justify-content: center;
        position: fixed;
        z-index: 1;
        height: 10%;
        width: 100%;
        background:rgba(0, 0, 0,0.9);
        top: 0px;
        left: 0px;
        button{
            background-color: rgba(0, 0, 0,0);
            color: #e6e7e8;
            border:0px;
            width: 50%;
            font-family: "vox";
            font-weight: 700;
            font-size: 150%;
        }
        .ImageButton:Hover{
            @include linearGradient(#d2eff1, #0072bc);
        }
        .VideoButton:Hover{
            @include linearGradient(rgb(247, 148, 29), rgb(198, 22, 141));
        }
    }
}

@media (max-width: 768px){
    .Title{
        font-size: 30px;
        .text{
            font-size: 55px;
        }
    }
    .Navi{
        .navigator{
            height: 7%;
            .ImageButton{
                @include linearGradient(#d2eff1, #0072bc);
            }
            .VideoButton{
                @include linearGradient(rgb(247, 148, 29), rgb(198, 22, 141));
            }
        }
    }
    .Image{
        .imageFullContainer{
            .imageContainer{
                .ImageText{
                    color: #e6e7e8;
                    position: absolute;
                    margin-top: 0px;
                    margin-bottom: 0px;
                    top: 0px;
                    left: 0px;
                    width: 100px;
                    font-size: 12px;
                    padding-top: 25px;
                    padding-bottom: 25px;
                    opacity: 0;
                    &:hover{
                        opacity: 0;
                    }
                }
                .image{
                    width: 100px;
                    height: 100px;
                }
            }
            .Viewer{
                overflow: scroll;
                z-index: 3;
                top:50%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: 100% 50% 100% 50%;
                background-color: rgba(0, 0, 0,0.9);
            }
        }
    }
    .Video{
        .videoFullContainer{
            .videoContainer{
                .VideoText{
                    opacity: 0.8;
                }
                .VideoViewer{
                    bottom:0%;
                    left: 0%;
                    padding: 11.6% 10% 11.6% 10%;
                    width: 80%;
                    height: 80%;                
                }
            }
        }
    }
}